
    <div class="container pt-5">
        <div class="w-75 m-auto">
            <div class="row">
                <div class="col-4">
                    <h2 class="head-title">Toggle Switch</h2>
                    <div class="custom-control ge-toggle-switch toggle-sm">
                        <input type="checkbox" class="custom-control-input" id="customSwitch">
                        <label class="custom-control-label" for="customSwitch">Toggle this switch element</label>
                    </div>
                    <div class="custom-control ge-toggle-switch toggle-md mt-4">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2">
                        <label class="custom-control-label" for="customSwitch2">Toggle this switch element</label>
                    </div>
                </div>
                <div class="col-4">
                    <h2 class="head-title mt-2 mb-2">Radio</h2>
                    <div class="custom-control ge-custom-radio">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                    </div>
                    <div class="custom-control ge-custom-radio ge-radio-md mt-4">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                    </div>
                </div>
                <div class="col-4">
                    <h2 class="head-title mt-2 mb-2">Checkbox</h2>
                    <div class="custom-control ge-custom-checkbox ge-check-sm">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                    </div>
                    <div class="custom-control ge-custom-checkbox ge-check-md mt-4">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
                    </div>
                </div>
            </div> 
        </div>
    </div>