<div class="container mt-5">
    <main class="w-75 m-auto">
        <ul>
            <li><a  routerLink="accordion">Accordion</a></li>
            <li><a  routerLink="alerts">Alerts</a></li>
            <li><a  routerLink="badges">Badges</a></li>
            <li><a  routerLink="buttons">Buttons</a></li>
            <li><a  routerLink="breadcrumb">Breadcrumbs</a></li>
            <li><a  routerLink="dataTable">DataTable</a></li>
            <li><a  routerLink="header-pagination">Header/pagination</a></li>
            <li><a  routerLink="input-fields">Input Fields</a></li>
            <li><a  routerLink="menu-dropdown">Menu/Dropdown</a></li>
            <li><a  routerLink="modals">Modals</a></li>
            <li><a  routerLink="progressbar">Progressbar</a></li>
            <li><a  routerLink="steppers">Steppers</a></li>
            <li><a  routerLink="tab-saperators">Tabs/Saperator</a></li>
            <li><a  routerLink="toggle-radio-check">Toggle/Radio/Checkbox</a></li>
            <li><a  routerLink="tooltip">Tooltip</a></li>
        </ul>
    </main>
</div>