
    <div class="container pt-5">
        <div class="w-75 m-auto">
            <h2 class="head-title mb-2 mt-2">Primary Buttons</h2>
            <div class="gap-12">
                <button type="button" class="btn ge-btn-primary1 btn-sm ge-btn-icon">Button</button>
                <button type="button" class="btn ge-btn-primary1 btn-md">Button</button>
                <button type="button" class="btn ge-btn-primary1 btn-lg" disabled>Button</button>
                <button type="button" class="btn ge-btn-primary1 btn-lg error">Button</button>
            </div>
            <h2 class="head-title mb-2 mt-2">Secondary Buttons</h2>
            <div class="gap-12">
                <button type="button" class="btn ge-btn-secondary btn-sm">Button</button>
                <button type="button" class="btn ge-btn-secondary btn-md">Button</button>
                <button type="button" class="btn ge-btn-secondary btn-lg"  disabled>Button</button>
                <button type="button" class="btn ge-btn-secondary btn-lg error">Button</button>
            </div>
            <h2 class="head-title mb-2 mt-2">Primary2 Buttons</h2>
            <div class="gap-12">
                <button type="button" class="btn ge-btn-primary2 btn-sm">Button</button>
                <button type="button" class="btn ge-btn-primary2 btn-md">Button</button>
                <button type="button" class="btn ge-btn-primary2 btn-lg" disabled>Button</button>
            </div>
            <h2 class="head-title mb-2 mt-2">Tertiary Buttons</h2>
            <div class="gap-12">
                <button type="button" class="btn ge-btn-tertiary btn-sm">Button</button>
                <button type="button" class="btn ge-btn-tertiary btn-md">Button</button>
                <button type="button" class="btn ge-btn-tertiary btn-lg" disabled>Button</button>
                <button type="button" class="btn ge-btn-tertiary btn-lg error">Button</button>
            </div>
            <h2 class="head-title mb-2 mt-2">Split Button</h2>
            <div class="gap-12">
                <div class="btn-group ge-btn-group">
                    <button type="button" class="btn ge-btn-primary1 btn-sm">Action</button>
                    <button type="button" class="btn ge-btn-primary1 btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="btn-group ge-btn-group">
                    <button type="button" class="btn ge-btn-primary1 btn-md">Action</button>
                    <button type="button" class="btn ge-btn-primary1 btn-md dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="btn-group ge-btn-group">
                    <button type="button" class="btn ge-btn-primary1 btn-lg" disabled>Action</button>
                    <button type="button" class="btn ge-btn-primary1 btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="btn-group ge-btn-group">
                    <button type="button" class="btn ge-btn-primary1 btn-lg error">Action</button>
                    <button type="button" class="btn ge-btn-primary1 btn-lg dropdown-toggle dropdown-toggle-split error" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
    <!-- Example split danger button -->
            <h2 class="head-title mb-2 mt-2">Gray Buttons</h2>
            <div class="gap-12">
                <button type="button" class="btn ge-btn-gray btn-sm">Button</button>
                <button type="button" class="btn ge-btn-gray btn-md">Button</button>
                <button type="button" class="btn ge-btn-gray btn-lg" disabled>Button</button>
                <button type="button" class="btn ge-btn-gray btn-lg error">Button</button>
            </div>
        </div>
    </div>