
    <div class="container pt-5">
        <div class="w-75 m-auto">
            <div class="row">
                <div class="col-6">
                    <h2>Badges</h2>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-sm-badge ge-badge-blue">New</span><br>
                        <span class="badge ge-sm-badge ge-badge-lightgray">New</span><br>
                        <span class="badge ge-sm-badge ge-badge-gray">New</span>
                    </div>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-sm-badge ge-badge-blue-outline">New</span><br>
                        <span class="badge ge-sm-badge ge-badge-lightgray-outline">New</span><br>
                        <span class="badge ge-sm-badge ge-badge-gray-outline">New</span>
                    </div>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-md-badge ge-badge-blue">New</span><br>
                        <span class="badge ge-md-badge ge-badge-lightgray">New</span><br>
                        <span class="badge ge-md-badge ge-badge-gray">New</span>
                    </div>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-md-badge ge-badge-blue-outline">New</span><br>
                        <span class="badge ge-md-badge ge-badge-lightgray-outline">New</span><br>
                        <span class="badge ge-md-badge ge-badge-gray-outline">New</span>
                    </div>
                </div>
                <div class="col-6">
                    <h2>Chips</h2>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-chip ge-sm-chip ge-sm-outline-chip">Label</span><br>
                        <span class="badge ge-chip ge-sm-chip ge-sm-grey-chip">New</span><br>
                        <span class="badge ge-chip ge-sm-chip ge-sm-user">New</span>
                    </div>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-chip ge-md-chip ge-md-outline-chip">Label</span><br>
                        <span class="badge ge-chip ge-md-chip ge-md-grey-chip">New</span><br>
                        <span class="badge ge-chip ge-md-chip ge-md-user">New</span>
                    </div>
                    <div class="gap-12 mb-3">
                        <span class="badge ge-chip ge-lg-chip ge-lg-outline-chip">Label</span><br>
                        <span class="badge ge-chip ge-lg-chip ge-lg-grey-chip">New</span><br>
                        <span class="badge ge-chip ge-lg-chip ge-lg-user">New</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h2>Notification Badge</h2>  
                    <div class="gap-12 d-block">
                        <p>Notification <span class="badge ge-badge-notify"> </span></p>
                        <p>Notification <span class="badge ge-badge-md-notify">3</span></p>
                        <p>Notification <span class="badge ge-badge-md-Count">3</span></p>
                    </div>   
                </div>
                <div class="col-6">
                    <h2>Status</h2>  
                    <div class="gap-12">
                        <div class="badge ge-sm-status status-active"> Status </div>
                        <div class="badge ge-sm-status status-progress"> In Progress</div>
                        <div class="badge ge-sm-status status-closed"> Closed</div>
                    </div>   
                    <div class="gap-12 mt-3">
                        <div class="badge ge-md-status status-active"> Status </div>
                        <div class="badge ge-md-status status-progress"> In Progress</div>
                        <div class="badge ge-md-status status-closed"> Closed</div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-block">
                        <h2>Avatars</h2>
                        <div class="mb-2"><img src="assets/images/avatar-img.png" alt="Avatar" class="ge-avatar"></div>
                        <div class="mb-2"><img src="assets/images/avatar-img.png" alt="Avatar" class="ge-avatar"></div>
                        <div class="mb-2"><img src="assets/images/avatar-img.png" alt="Avatar" class="ge-avatar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>