
    <div class="container pt-5">
        <div class="w-75 m-auto">
            <h2>Accordion</h2>
            <div class="accordion ge-accordion" id="accordionExample">
              <div class="card ge-accordion-item">
                <div class="card-header ge-accordion-header">
                  <button class="btn" type="button"  id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Accordion group 1
                  </button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body ge-accordion-body">
                    Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                  </div>
                </div>
              </div>
              <div class="card ge-accordion-item">
                <div class="card-header ge-accordion-header" >
                  <button class="btn" type="button" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Accordion group 1
                  </button>
                </div>
                <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body ge-accordion-body">
                    <div class="custom-control ge-custom-radio">
                      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                    </div>
                    <div class="custom-control ge-custom-radio">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
                    </div>
                    <div class="custom-control ge-custom-radio">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio3">Toggle this custom radio</label>
                    </div>
                    <div class="custom-control ge-custom-radio">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio4">Or toggle this other custom radio</label>
                    </div>
                    <div class="custom-control ge-custom-radio">
                      <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label" for="customRadio5">Toggle this custom radio</label>
                    </div>
                    <div class="custom-control ge-custom-radio">
                        <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio6">Or toggle this other custom radio</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card ge-accordion-item">
                <div class="card-header ge-accordion-header" >
                  <button class="btn" type="button" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accordion group 1
                  </button>
                </div>                
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body ge-accordion-body">
                    And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                  </div>
                </div>
              </div>
            </div>
          </div> 
    </div>
