    <div class="container pt-5">
        <div class="w-75 m-auto">
            <h2>Stepper</h2>
            <div class="ge-stepper">
                <div class="ge-step-item enabled mb-3" data-item="1">
                    <p class="ge-step-title">Title</p>
                    <p class="ge-step-subhead">Sub Heading</p>
                </div>
                <div class="ge-step-item selected mb-3" data-item="1">
                    <p class="ge-step-title">Title</p>
                    <p class="ge-step-subhead">Sub Heading</p>
                </div>
                <div class="ge-step-item completed mb-3" data-item="1">
                    <p class="ge-step-title">Title</p>
                    <p class="ge-step-subhead">Sub Heading</p>
                </div>
                <div class="ge-step-item disabled mb-3" data-item="1">
                    <p class="ge-step-title">Title</p>
                    <p class="ge-step-subhead">Sub Heading</p>
                </div>
            </div>
        </div>
    </div>