
    <div class="container pt-5">
        <div class="w-75 m-auto">
            <h2 class="head-title mb-2">Alerts</h2>
            <div class="row">
                <div class="col-5">
                    <div class="alert ge-alert-error alert-dismissible fade show" role="alert">
                        <img [src]="isDarkMode ? 'assets/images/alert-error-dark.svg': 'assets/images/alert-error.svg'">
                        A simple content alert—check it out!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/alert-error-close.svg"></span>
                        </button>
                    </div>
                    <div class="alert ge-alert-warning alert-dismissible fade show" role="alert">
                        <img [src]="isDarkMode ? 'assets/images/alert-warning-dark.svg':'assets/images/alert-warning.svg'">
                        A simple content alert—check it out!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/alert-warning-close.svg"></span>
                        </button>
                    </div>
                    <div class="alert ge-alert-success alert-dismissible fade show" role="alert">
                        <img [src]="isDarkMode ? 'assets/images/alert-success-dark.svg' : 'assets/images/alert-success.svg'">
                        A simple content alert—check it out!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/alert-success-close.svg"></span>
                        </button>
                    </div>
                    <div class="alert ge-alert-info alert-dismissible fade show" role="alert">
                        <img [src]="isDarkMode ? 'assets/images/alert-info-dark.svg' :'assets/images/alert-info.svg'">
                        A simple content alert—check it out!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/alert-info-close.svg"></span>
                        </button>
                    </div>
                    <div class="alert ge-alert-primary alert-dismissible fade show" role="alert">
                        <img [src]="isDarkMode ? 'assets/images/alert-primary-dark.svg' : 'assets/images/alert-primary.svg'">
                        A simple content alert—check it out!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/alert-primary-close.svg"></span>
                        </button>
                    </div>
                    <div class="alert ge-alert-gray alert-dismissible fade show" role="alert">
                        <img src="assets/images/alert-gray.svg">
                        A simple content alert—check it out!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><img src="assets/images/alert-gray-close.svg"></span>
                        </button>
                    </div>
                </div>
                <div class="col-7">
                    <div class="alert ge-alert-error custom-alert  alert-dismissible fade show" role="alert">
                        <div class="alert-heading ge-alert-error">
                            <img [src]="isDarkMode ? 'assets/images/alert-error-dark.svg': 'assets/images/alert-error.svg'">
                            A simple content alert—check it out!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/alert-error-close.svg"></span>
                            </button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non tincidunt leo cursus nisi suspendisse tellus fringilla libero aliquam. Orci diam volutpat sem id quis arcu morbi natoque viverra. Sed quam quis amet aliquam a blandit.</p> 
                    </div>
                    <div class="alert ge-alert-warning custom-alert  alert-dismissible fade show" role="alert">
                        <div class="alert-heading ge-alert-warning">
                            <img [src]="isDarkMode ? 'assets/images/alert-warning-dark.svg': 'assets/images/alert-warning.svg'">
                            A simple content alert—check it out!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/alert-warning-close.svg"></span>
                            </button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non tincidunt leo cursus nisi suspendisse tellus fringilla libero aliquam. Orci diam volutpat sem id quis arcu morbi natoque viverra. Sed quam quis amet aliquam a blandit.</p> 
                    </div>
                    <div class="alert ge-alert-success custom-alert  alert-dismissible fade show" role="alert">
                        <div class="alert-heading ge-alert-success">
                            <img [src]="isDarkMode ? 'assets/images/alert-success-dark.svg': 'assets/images/alert-success.svg'">
                            A simple content alert—check it out!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/alert-success-close.svg"></span>
                            </button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non tincidunt leo cursus nisi suspendisse tellus fringilla libero aliquam. Orci diam volutpat sem id quis arcu morbi natoque viverra. Sed quam quis amet aliquam a blandit.</p> 
                    </div>
                    <div class="alert ge-alert-info custom-alert  alert-dismissible fade show" role="alert">
                        <div class="alert-heading ge-alert-info">
                            <img [src]="isDarkMode ? 'assets/images/alert-info-dark.svg': 'assets/images/alert-info.svg'">
                            A simple content alert—check it out!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/alert-info-close.svg"></span>
                            </button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non tincidunt leo cursus nisi suspendisse tellus fringilla libero aliquam. Orci diam volutpat sem id quis arcu morbi natoque viverra. Sed quam quis amet aliquam a blandit.</p> 
                    </div>
                    <div class="alert ge-alert-primary custom-alert  alert-dismissible fade show" role="alert">
                        <div class="alert-heading ge-alert-primary">
                            <img [src]="isDarkMode ? 'assets/images/alert-primary-dark.svg': 'assets/images/alert-primary.svg'">
                            A simple content alert—check it out!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/alert-primary-close.svg"></span>
                            </button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non tincidunt leo cursus nisi suspendisse tellus fringilla libero aliquam. Orci diam volutpat sem id quis arcu morbi natoque viverra. Sed quam quis amet aliquam a blandit.</p> 
                    </div>
                    <div class="alert ge-alert-gray custom-alert  alert-dismissible fade show" role="alert">
                        <div class="alert-heading ge-alert-gray">
                            <img src="assets/images/alert-gray.svg">
                            A simple content alert—check it out!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><img src="assets/images/alert-gray-close.svg"></span>
                            </button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non tincidunt leo cursus nisi suspendisse tellus fringilla libero aliquam. Orci diam volutpat sem id quis arcu morbi natoque viverra. Sed quam quis amet aliquam a blandit.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>